# --- User Interface ---
/src/frontend/static/images

# --- JavaScript ---
/node_modules

# --- Python Specific ---
__pycache__/
/__pycache__
*.py[cod]
*$py.class
*.pyc

# --- Environments ---
/.venv
/.env

# --- IDE / Editor Settings ---
.vscode/

# PyCharm / IntelliJ
.idea/

# --- Testing & Coverage ---
.coverage
.cache
.pytest_cache/
